.card-container {
  background-color: rgb(160, 207, 160);
  margin-top: 35px;
  height: 15vh;
  width: 180px;
  margin-left: 40px;
  cursor: pointer;
  border-radius: 10px;
}

.card-container:hover {
 background-color: hotpink;
}

.card-container p {
  text-align: center;
  justify-content: center;
  color: white;
  padding: 10px;
  font-size: 20px;
}
